<div>
    <h2 id="page-heading">
        <span jhiTranslate="simpleTaskManagementApp.taskExecuteRecord.home.title">Task Execute Records</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-task-execute-record" [routerLink]="['/task-execute-record/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="simpleTaskManagementApp.taskExecuteRecord.home.createLabel">
            Create a new Task Execute Record
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="taskExecuteRecords?.length === 0">
        <span jhiTranslate="simpleTaskManagementApp.taskExecuteRecord.home.notFound">No taskExecuteRecords found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="taskExecuteRecords && taskExecuteRecords.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="simpleTaskManagementApp.taskExecuteRecord.userId">User Id</span></th>
                    <th scope="col" ><span jhiTranslate="simpleTaskManagementApp.taskExecuteRecord.startTime">Start Time</span></th>
                    <th scope="col" ><span jhiTranslate="simpleTaskManagementApp.taskExecuteRecord.endTime">End Time</span></th>
                    <th scope="col" ><span jhiTranslate="simpleTaskManagementApp.taskExecuteRecord.task">Task</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let taskExecuteRecord of taskExecuteRecords ;trackBy: trackId">
                    <td><a [routerLink]="['/task-execute-record', taskExecuteRecord.id, 'view']">{{ taskExecuteRecord.id }}</a></td>
                    <td>{{ taskExecuteRecord.userId }}</td>
                    <td>{{ taskExecuteRecord.startTime | date:'medium' }}</td>
                    <td>{{ taskExecuteRecord.endTime | date:'medium' }}</td>
                    <td>
                        <div *ngIf="taskExecuteRecord.taskId">
                            <a [routerLink]="['/task', taskExecuteRecord.taskId , 'view']" >{{ taskExecuteRecord.taskId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/task-execute-record', taskExecuteRecord.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/task-execute-record', taskExecuteRecord.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(taskExecuteRecord)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
